@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.slide-item {
  background-color: blue;
}

.slick-prev,
.slick-next {
  z-index: 9999;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.content_text {
  opacity: 0;
}

.slick-current .content_animation {
  animation: fadeInAnimation 1s both 1s;
}
